#!/usr/bin/make -f
# -*- makefile -*-

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

%:
	dh $@

override_dh_auto_build:
	dh_auto_build --buildsystem=nodejs
	help2man --no-info ./cli.js >browserslist.1

override_dh_fixperms:
	dh_fixperms
	chmod +x debian/node-browserslist/usr/share/nodejs/browserslist/cli.js
